/proyecto01/nbproject/private/
/proyecto02/nbproject/private/
/proyecto02/build/
/proyecto02/tiposdato_operadoresjava/nbproject/private/
/proyecto02/ejercico1/nbproject/private/
/proyecto02/ejercico1/build/
/proyecto02/personal/nbproject/private/
/proyecto02/personal7/nbproject/private/
/proyecto02/hey/nbproject/private/
/tiposdedatosyoperadores_java/nbproject/private/
/tipodedatosyoperadors_java/nbproject/private/
/tipodedatosyoperadores_java/nbproject/private/
/tipodedatosyoperadores_java1/nbproject/private/
/tipodedatosyoperadores_java1/build/
/Taller3/Proyectotaller3/nbproject/private/
/Taller3/Taller 3/nbproject/private/
/Taller3/Taller3/nbproject/private/
/taller4/Taller4/nbproject/private/
/taller4/Taller4/build/
