/proyecto01/nbproject/private/
/proyecto02/nbproject/private/
/proyecto02/build/
/proyecto02/tiposdato_operadoresjava/nbproject/private/
/proyecto02/ejercico1/nbproject/private/
/proyecto02/ejercico1/build/
/proyecto02/personal/nbproject/private/
/proyecto02/personal7/nbproject/private/
/proyecto02/hey/nbproject/private/
/tiposdedatosyoperadores_java/nbproject/private/
/tipodedatosyoperadors_java/nbproject/private/
/tipodedatosyoperadores_java/nbproject/private/
/tipodedatosyoperadores_java1/nbproject/private/
/tipodedatosyoperadores_java1/build/
/Taller3/Proyectotaller3/nbproject/private/
/Taller3/Taller 3/nbproject/private/
/Taller3/Taller3/nbproject/private/
/taller4/Taller4/nbproject/private/
/taller4/Taller4/build/
/taller4/programacionsemana5/nbproject/private/
/taller4/JavaApplication48/nbproject/private/
/taller4/JavaApplication49/nbproject/private/
/taller4/JavaApplication49/build/
/taller4/JavaApplication50/nbproject/private/
/taller4/JavaApplication51/nbproject/private/
/taller4/JavaApplication51/build/
/taller4/ejercicio/nbproject/private/
/taller4/ejercicio/build/
/taller4/Proyecto_taller5/nbproject/private/
/Taller6/nbproject/private/
/Taller6/build/
/Taller_6/nbproject/private/
/ciclos repetitivos while-dowhile/nbproject/private/
/ciclos repetitivos while-dowhile/build/
/Taller_7/nbproject/private/
/Taller_7/build/
/proyectobimestral/JavaApplication67/nbproject/private/
/proyectobimestral/ProyectoBimestral/nbproject/private/
/proyectobimestral/ProyectoBimestral/build/
